@model IEnumerable<Proyecto1.Models.usuario>

<select class="form-control" id="id_Usuario" name="id_Usuario">
    @foreach (var item in Model)
    {
        <option value="@item.id">
            @item.nombre
        </option>
    }
</select>
